---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
    {% include post_content.html post=post content=post.content %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}"><i class="fa fa-angle-double-left"></i>Older</a>
  {% else %}
    <span class="pagination-item older"><i class="fa fa-angle-double-left"></i>Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer<i class="fa fa-angle-double-right"></i></a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer<i class="fa fa-angle-double-right"></i></a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer<i class="fa fa-angle-double-right"></i></span>
  {% endif %}
</div>