/** override css */

.sidebar {
  padding: 0.5rem 0.5rem;
}

.sidebar-about h2 {
  color: #fff;
  font-size: 1.55rem;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  color: #999;
}

.sidebar-nav {
  margin-bottom: 0rem;
}

.lead {
  font-size: 1.15rem;
  font-weight: 300;
}

.container {
  max-width: 38rem;
  padding-left:  0.5rem;
  padding-right: 0.5rem;
  margin-left:  auto;
  margin-right: auto;
}

/** custom css */

/** side bar */
.sidebar-icon-group {
  margin-top: 1rem;
}

i.fa.fa-github:hover {
  color: #f70;
}
i.fa.fa-twitter:hover {
  color: #5ae;
}
i.fa.fa-linkedin:hover {
  color: #27b;
}

/** tags archives */
div.tag-header {
  font-size: 2.0rem;
  font-weight: bold;
  color: #4a6;
}

div.tag-year {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

span.tag-date {
  font-size: 0.7rem;
  color: #999;
}

.tags-item:hover {
  padding-left: 1rem;
}

div.tags-item > i.fa.fa-tags:hover {
  color: #4a6;
}
div.tags-item > a:hover {
  color: #4a6;
  text-decoration: none;
}

/** posts */
span.post-tags > .tags-item >i.fa.fa-tags:hover {
  color: #4a6;
}
span.post-tags > .tags-item > a:hover {
  color: #4a6;
  text-decoration: none;
}

/** post */
span.page-tags > .tags-item > i.fa.fa-tags:hover {
  color: #4a6;
}
span.page-tags > .tags-item > a:hover {
  color: #4a6;
  text-decoration: none;
}