/** override css */
html {
  font-size: 16px;
}

h1 {
  font-size: 1.6rem;
}

.sidebar {
  padding: 0.5rem 0.5rem;
  width: 13rem;
}

.sidebar-about h2 {
  color: #fff;
  font-size: 1.55rem;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  color: #268bd2;
  font-weight: bold;
}

.sidebar-nav {
  margin-bottom: 0rem;
  font-size: 1.2rem;
}

.lead {
  font-size: 1.15rem;
  font-weight: 300;
}

.container {
  max-width: 48rem;
  padding-left:  0rem;
  padding-right: 0rem;
}

/** custom css */

/** side bar */
.sidebar-icon-group {
  margin-top: 1rem;
  font-size: 1.5rem;
}

i.fa.fa-github:hover {
  color: #f70;
}
i.fa.fa-twitter:hover {
  color: #5ae;
}
i.fa.fa-linkedin-square:hover {
  color: #27b;
}
i.fa.fa-google-plus-square:hover {
  color: #c43;
}
i.fa.fa-bold:hover {
  color: #e60;
}

/** tags */
div.tag-year {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

span.tag-date {
  font-size: 0.7rem;
  color: #999;
}

span.tag-header {
  font-size: 2.0rem;
  font-weight: bold;
  color: #fff;
  background-color: #268bd2;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

span.tags-item {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

span.tags-item:hover {
  color: #fff;
  background-color: #268bd2;
  border-radius: 4px;
}

span.tags-item > i.fa.fa-tags:hover {
  color: #fff;
}
span.tags-item > a:hover {
  color: #fff;
  text-decoration: none;
}

/** pagination */
i.fa.fa-angle-left,
i.fa.fa-angle-double-left {
  margin-right: 0.5rem;
}
i.fa.fa-angle-right,
i.fa.fa-angle-double-right {
  margin-left: 0.5rem;
}
a.pagination-item:hover,
a.pagination-item:active {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #268bd2;
}

/** syntax highlights */
pre {
  padding: 0rem;
}