---
layout: default
---

{% include post_content.html post=page content=content %}

<div class="pagination">
  {% if page.previous %}
    <a class="pagination-item older" href="{{ page.previous.url }}"><i class="fa fa-angle-left"></i>Older</a>
  {% else %}
    <span class="pagination-item older"><i class="fa fa-angle-left"></i>Older</span>
  {% endif %}
  {% if page.next %}
    <a class="pagination-item newer" href="{{ page.next.url }}">Newer<i class="fa fa-angle-right"></i></a>
  {% else %}
    <span class="pagination-item newer">Newer<i class="fa fa-angle-right"></i>></span>
  {% endif %}
</div>